/* style.css
 * This file provides css styles.
 */
body, html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: {{ color.background }};
}

a {
	text-decoration: none;
	color: {{ color.link }};
}

a:hover {
	text-decoration: underline;
}

.content {
	margin-bottom: 6.25vw;
	width: 75%;
	position: relative;
	left: 12.5%;
	padding: 20px;
	min-height: 720px;
	background-color: {{ color.neutral }};
}

nav.navbar-default, nav{
	border: none;
	border-radius: 0;
}

.form-group,
.form-group * {
	transition: all .5s;
}

.form-hidden,
.form-hidden * {
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	opacity: 0;
}

.schedule {
	position: relative;
}

.course {
	margin-left: .333%;
	position: absolute;
	width: 16%;
	color: white;
	text-shadow:
		-1px -1px 0 rgba(0,0,0,.5),
		 1px -1px 0 rgba(0,0,0,.5),
		-1px  1px 0 rgba(0,0,0,.5),
		 1px  1px 0 rgba(0,0,0,.5);
	padding: 0 5px;
	font-size: 12px;
}

.day {
	width: 16%;
	height: 100%;
	border-left: solid black 1px;
	padding-left: 10px;
	position: absolute;
}

.time {
	width: 100%;
	height: 60px;
	border-bottom: solid black 1px;
}
